<div
  class="2xl:w-1/4 xl:w-1/3 w-3/4 m-auto flex flex-col justify-center h-full text-center">
  <form [formGroup]="loginForm" class="w-full" (submit)="login()">
    <mat-form-field appearance="fill" class="mb-4 w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error>
        {{ loginForm.controls.email.errors | appFormValidationError }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="mb-4 w-full">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error>
        {{ loginForm.controls.password | appFormValidationError }}
      </mat-error>
    </mat-form-field>
    <button
      matButton="filled"
      class="w-full"
      [disabled]="loginForm.invalid || isFormDisabled()"
      type="submit">
      Log in
    </button>
  </form>
  <div class="text-center mt-2">
    <p>Don't have account?</p>
    <a class="text-primary" routerLink="/register">Register</a>
  </div>
</div>
