@if (isCompactLayout()) {
  <div class="flex justify-end">
    <button matIconButton (click)="drawer().close()">
      <mat-icon class="absolute -top-0.5 left-1 text-primary-400">
        arrow_back_ios
      </mat-icon>
    </button>
  </div>
} @else {
  <div class="md:ml-10 flex ml-1 text-primary-400 h-32">
    <h1 class="md:text-5xl text-2xl font-serif mt-auto mb-auto">Auth app</h1>
  </div>
}
<nav class="pl-5 mt-10">
  @for (group of navElements; track group.groupName) {
    @if (group.adminOnly && authService.user()?.role !== 'Admin') {
    } @else {
      <div class="mb-10 w-10/12 flex flex-col">
        <div class="flex">
          <h2>{{ group.groupName }}</h2>
        </div>
        <div class="flex flex-col ml-4">
          @for (route of group.routes; track route.url) {
            <a
              [routerLink]="route.url"
              routerLinkActive="active-link"
              (click)="drawer().close()"
              class="text-lg">
              {{ route.route }}
            </a>
          }
        </div>
      </div>
    }
  }
</nav>
<div class="flex justify-end pr-2">
  <button matButton (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</div>
