<div
  class="xl:relative xl:h-32 bg-background-400 flex h-20 fixed right-0 top-0 left-0 z-10">
  <div class="w-16 h-full flex">
    <button
      matIconButton
      (click)="drawer.toggle()"
      class="md:scale-150 flex scale-100 m-auto">
      <mat-icon class="absolute -top-1 text-primary-400">menu</mat-icon>
    </button>
  </div>
  <div class="md:ml-10 flex ml-1 text-primary-400">
    <h1 class="md:text-5xl text-2xl font-serif mt-auto mb-auto">
      Awesome authentification app!
    </h1>
  </div>
</div>
