<div
  class="2xl:w-1/4 xl:w-1/3 w-3/4 m-auto flex flex-col justify-center h-full text-center">
  <h2 class="text-center mb-8">Registration</h2>
  <form [formGroup]="registerForm" class="w-full" (submit)="register()">
    <mat-form-field appearance="fill" class="mb-4 w-full">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error>
        {{ registerForm.controls.email.errors | appFormValidationError }}
      </mat-error>
    </mat-form-field>
    <mat-form-field apperance="fill" class="mb-4 w-full">
      <mat-label>Nickname</mat-label>
      <input matInput formControlName="nickname" />
      <mat-error>
        {{ registerForm.controls.nickname.errors | appFormValidationError }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="mb-4 w-full">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error>
        {{ registerForm.controls.password.errors | appFormValidationError }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="mb-4 w-full">
      <mat-label>Repeat password</mat-label>
      <input matInput type="password" formControlName="rptPassword" />
      <mat-error>
        {{ registerForm.controls.rptPassword.errors | appFormValidationError }}
      </mat-error>
    </mat-form-field>
    <button
      matButton="filled"
      type="submit"
      [disabled]="registerForm.invalid || isFormDisabled()"
      class="w-full">
      register
    </button>
  </form>
  <div class="text-center mt-2">
    <p>Alredy have account?</p>
    <a class="text-primary" routerLink="/login">Log in</a>
  </div>
</div>
