<mat-dialog-content>
  <h2>Changing password</h2>
  <form
    class="flex w-full mt-10 flex-col"
    [formGroup]="changingPassword"
    (ngSubmit)="changePassword()">
    <mat-form-field class="mb-5">
      <mat-label>Current password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="changingPassword.get('password')?.hasError('required')">
        This field is required
      </mat-error>
      <mat-error
        *ngIf="changingPassword.get('password')?.hasError('wrongPassword')">
        Wrong password. Try again
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPassword" />
      <mat-error
        *ngIf="changingPassword.get('newPassword')?.hasError('required')">
        This field is required
      </mat-error>
      <mat-error
        *ngIf="changingPassword.get('newPassword')?.hasError('minlength')">
        Password must be at least 6 characters long
      </mat-error>
      <mat-error
        *ngIf="changingPassword.get('newPassword')?.hasError('maxlength')">
        Password cannot exceed 100 characters
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mt-5 mb-5">
      <mat-label>Repeat password</mat-label>
      <input matInput type="password" formControlName="newPasswordRpt" />
      <mat-error
        *ngIf="
          changingPassword.get('newPasswordRpt')?.hasError('passwordMismatch')
        ">
        Passwords do not match
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton mat-dialog-close class="!text-error">Close</button>
  <button matButton (click)="changePassword()">Apply</button>
</mat-dialog-actions>
