<mat-dialog-content>
  <h2>Changing password</h2>
  <form
    class="flex w-full mt-10 flex-col"
    [formGroup]="form"
    (ngSubmit)="changePassword()">
    <mat-form-field class="mb-5">
      <mat-label>Current password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error>
        {{ form.controls.password.errors | appFormValidationError }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPassword" />
      <mat-error>
        {{ form.controls.newPassword.errors | appFormValidationError }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mt-5 mb-5">
      <mat-label>Repeat password</mat-label>
      <input matInput type="password" formControlName="newPasswordRpt" />
      <mat-error>
        {{ form.controls.newPasswordRpt.errors | appFormValidationError }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton mat-dialog-close class="!text-error">Close</button>
  <button matButton (click)="changePassword()">Apply</button>
</mat-dialog-actions>
