<mat-dialog-content>
  <h2>Edit profile</h2>
  <form [formGroup]="nicknameForm" class="flex w-full mt-10">
    <mat-form-field class="w-full">
      <mat-label>Nickname</mat-label>
      <input matInput formControlName="nickname" />
      <mat-error>
        {{ nicknameForm.controls['nickname'].errors | appFormValidationError }}
      </mat-error>
    </mat-form-field>
    <ui-apply-sqr-button
      (click)="updateNickname()"
      [isDisabled]="isInputsDisabled() || !nicknameForm.valid" />
  </form>
  <form [formGroup]="avatarForm" class="flex w-full mt-2">
    <mat-form-field class="w-full">
      <mat-label>Avatar URL</mat-label>
      <input matInput formControlName="avatarUrl" />
      <mat-error>
        {{ avatarForm.controls['avatarUrl'].errors | appFormValidationError }}
      </mat-error>
    </mat-form-field>
    <ui-apply-sqr-button
      (click)="updateAvatar()"
      [isDisabled]="isInputsDisabled() || !avatarForm.valid" />
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton mat-dialog-close class="!text-error">Close</button>
</mat-dialog-actions>
